*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(#FCA311, #FDB541);
}

.titre{
	position: relative;
	top: 2vh;
	height: 12vh;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3vh;
}
h1{
	color: #f0f0f0;
	font-size: 15vh;
	font-family: 'Montserrat', sans-serif;
}

.options{
	position: relative;
	height: 85%;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

.options a{
	text-decoration: none;
	color: #545e68;
}

.nom, .prenom, .email{
	position: relative;
	height: 7vh;
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vh;
	text-align: center;
	border: none;
	border-radius: 5vh;
	background-color: #f0f0f0;
	color: #0D1B2A;
	margin-top: 3vh;
}

.envoyer{
	position: relative;
	height: 12vh;
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vh;
	text-align: center;
	border: none;
	border-radius: 5vh;
	background-color: #f0f0f0;
	color: #0D1B2A;
	margin-top: 3vh;
}

.nom:hover, .prenom:hover, .email:hover{
	transform: scale(1.1,1.1);
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.nom:focus, .prenom:focus, .email:focus, .envoyer:focus{
	background-color: #f0f0f0;
	outline: none;
}

.commentaire{
	position: relative;
	width: 30vw;
	height: 25vh;
	justify-content: center;
	align-items: center;
	font-size: 4vh;
	text-align: center;
	border: none;
	border-radius: 5vh;
	background-color: #f0f0f0;
	color: #0D1B2A;
	margin-top: 3vh;
	display: flex;
}

.commentaire:hover{
	transform: scale(1.1,1.1);
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.commentaire:focus{
	background-color: #f0f0f0;
	outline: none;
}

.envoyer:hover{
	transform: scale(1.1,1.1);
	background-color: #FCA311;
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

@media only screen and (max-device-width: 800px) {
	h1{
		font-size: 7vh;
	}

	.nom, .prenom, .email{
		height: 9vh;
		width: 70vw;
		font-size: 3vh;
	}

	.commentaire{
		width: 70vw;
		font-size: 3vh;
	}

	.envoyer{
		height: 10vh;
		width: 70vw;
		font-size: 4vh;
	}
}

@media only screen and (max-device-width: 450px) {

	h1{
		font-size: 6vh;
	}

	.nom, .prenom, .email{
		height: 8vh;
		width: 70vw;
		font-size: 2vh;
	}

	.commentaire{
		width: 70vw;
		font-size: 2vh;
	}

	.envoyer{
		height: 10vh;
		width: 70vw;
		font-size: 3vh;
	}
}